<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <link rel="stylesheet" href="/css/style2.css">
    <script defer src="/js/main.js"></script>
 
</head>

<section>
<body>
    <header>
        <nav class="navbar">
            <span class="hamburger-btn material-symbols-rounded">menu</span>
            <a href="#" class="logo">
                <img src="images/1587650575157.png" alt="logo">
                <h2>DevviCake</h2>
            </a>

            <ul class="links">
                <span class="close-btn material-symbols-rounded">close</span>
                <li><a href="#">Home</a></li>
                <li><a href="#">Order</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <button class="login-btn">LOG OUT</button>
        </nav>
    </header>
    
</body>
</section>

<body>
    <body>
    <div class="container">
        <header class="row">
            <div class="col-6">
                <h1>Shopping</h1>
            </div>
            <div class="col-6 text-end">
                <div class="shopping">
                    <i class="fa-solid fa-bag-shopping me-4" ></i>
                    <span class="quantity ms-4">0</span>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-12 list"></div>
        </div>
    </div>
    <div class="cart">
        <h1>Cart</h1>
        <ul class="listCart"></ul>
        <div class="checkout">
            <div class="total">0</div>
            <div class="closeShopping">Close</div>
        </div>
    </div>
</body>

</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</html>