<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>

     <!-- Header -->
   <header class="header">
    <nav class="nav">
 <a href="#" class="nav_logo">DevviCake</a>
 
 <ul class="nav_items">
     <li class="nav_item">
         <a href="#" class="nav_link">Home</a>
         <a href="#" class="nav_link">Menu</a>
         <a href="#" class="nav_link">Order</a>
         <a href="#" class="nav_link">Contact</a>
         <button class="button">Login</button>
<button class="button2">Sign Up</button>
     </li>
 </ul>
 
    </nav>
 </header>
 
 <section class="home">
     <div class="form_container">
         <i class="uil uil-times form_close"></i>


    <!-- Sign Up -->
<div class="form signup_form">
    <form action="#">
        <h2>Sign Up</h2>

        <div class="input_box">
            <input class="ab" type="email" placeholder="Enter your email" required />
            <i class="uil uil-envelope-alt email"></i>

            <div class="input_box">
                <input type="password" placeholder="Create password" required />
                <i class="uil uil-lock password"></i>
                <i class="uil uil-eye-slash pw_hide "></i>

                <div class="input_box">
                    <input type="password" placeholder="Repeat password" required />
                    <i class="uil uil-lock password"></i>
                    <i class="uil uil-eye-slash pw_hide "></i>

<button class="button3">Signup Now</button>

<div class="login_signup">
Already have an account? <a href="#" id="signup">Login</a>
</div>
        </div>
</body>
</html>